<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark md-5">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item ">
							<a class="nav-link text-white" href="{{ get_base_path() }}/">TOP</a>
						</li>
						{% if session.id==NULL %}
							<li class="d-sm-none nav-item">
								<a class="nav-link text-white" href="{{ get_base_path() }}/login">ログイン</a>
							</li>
						{% endif %}
						{% if session.id!=NULL %}
							<li class="nav-item">
								<a class="nav-link text-white" href="{{ get_base_path() }}/ctrl">コントローラ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="{{ get_base_path() }}/ctrl/file">ファイル一覧</a>
							</li>
							{% if session.guestId==NULL %}
								<li class="nav-item">
									<a class="nav-link text-white" href="{{ get_base_path() }}/mypage">マイページ</a>
								</li>
							{% endif %}
						{% endif %}
						{% if session.id==NULL %}
							<li class="nav-item">
								<a class="nav-link text-white" href="{{ get_base_path() }}/entry">ユーザー登録</a>
							</li>
						{% endif %}
						{% if session.id!=NULL %}
							<li class="d-sm-none nav-item">
								<a class="nav-link text-white" href="{{ get_base_path() }}/ctrl/logout">ログアウト</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link text-white" href="{{ get_base_path() }}/help">ヘルプ</a>
						</li>
					</ul>
				</div>
				<h1 class="h3 d-sm-none my-auto"><a class="text-white" href="{{ get_base_path() }}/">{{ site_name }}</a></h1>
			</div>
		</nav>
	</div>
</header>
