{% set page_title = "マイページ" %}
{% set page_description = "LAMP Controllerのマイページです。ここで、設定などを行います。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron text-center">
        <h2>マイページ</h2>
    </div>

    <div class="h3 text-center">
        <h3>{{ userDisplayName }}さんのマイページ</h3>
    </div>
    
    <div id="messageText"aria-live="assertive">
        {% if message!=null and message!="" %}
            <div class="alert-danger p-3">{{ message | nl2br}}</div>
	    {% endif %}
    </div>


    <form method="post" autocomplete="off">
        <div class="container my-5">
            <div class="row bg-dark mb-2">
                <h3 class="h3 text-white">捜査対象のLAMPを設定</h3>
            </div>
            <div class="row mb-4">
                <label class="col-12 col-sm-3" for="form_selectLamp">LAMP選択</label>
                <select class ="col mx-3" id="form_selectLamp" name="defaultLamp" required autofocus>
                    {% for s in softwareList %}
                        {% if session.defaultLamp == s.id %}
                            <option value="{{ s.id }}" selected>{{ s.display_name }}</option>
                        {% else %}
                            <option value="{{ s.id }}">{{ s.display_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="col-12 col-sm-2 my-2">
                    <input type="submit" class="float-right btn btn-success" value="設定">
                </div>
            </div>
        </div>
    </form>

    <script>
        {# ここからのブラウザバック禁止 #}
        var messageText = document.getElementById("messageText");
        history.pushState(null, null, location.href);
        window.addEventListener('popstate', (e) => {
            var newElement = document.createElement("div");
            newElement.className = "alert-danger p-3";
            newElement.textContent = "この画面では、ブラウザの戻る機能はは利用できません。";
            messageText.replaceChild(newElement, messageText.firstChild);
            history.go(1);
        });
    </script>


{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
